.header-container{
    
    color: #FFF;
    width: 60%;
    padding: 0em 5em;
    .title {
        font-size: 4em;
        margin-bottom: 20px;
    }
    .subtitle {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1191px) {
    .header-container{
        width: 100%;
        text-align: center;
        padding: 0em 2em;
        .title {
            font-size: 3em;
            margin-bottom: 20px;
        }
        .subtitle {
            font-size: 1.2em;
        }
    }
}